@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Spectral:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Spectral" sans-serif;
    background-image: linear-gradient(to bottom right, #A8E6Cf, #DBEDC1, #FED3B6, #FFAAA5, #FF8B94);
}

h1, h2, h3, h4 {
    font-family: "Karla", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-family: 'Karla', sans-serif;
    /* box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white; */
}

h2 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    /* color: #7209b7; */
    color: #000;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    /* color: #4361ee; */
    color: #000;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #7209b7;
}

main {
    margin-top: 40px;
}

/* Basic Button Style */

.btn-wrapper {
    width: 100%;
    
}

.btn , .btn-play {
    width: 260px;
    display: block;
    /* border: 0.16em solid #7209b7; */
    border: 0.16em solid #207052;
    border-radius: 1em;
    /* background-color: #4361ee; */
    background-color: #37BF8C;
    padding: 14px 28px;
    margin: 30px auto;
    font-size: 30px;
    font-family: 'Karla' , sans-serif;
    color: #fff;
    text-transform:uppercase;
    text-decoration: none;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }

  /* On mouse-over */
.btn:hover {
    background: #eee;
    /* color: #36454F; */
    color: #000;
}

/* play button styles */

/* .btn-play:hover {
    text-indent: 30px;
    background: #eee;
    color: #36454F;
    opacity: 2;
} */

/* .btn-play {
    transition: all 0.2s linear 0s;
}

 .btn-play:before {
    font-family: FontAwesome;
    content:"\f178";
    opacity: 0;
    transform: scale(1,1);
    text-indent: 0;
    transition: all 200ms ease;
}

.btn-play:hover:before {
        left: 7px;
} */



/* Background Image */

#sample-background {
    width: 1200px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar i {
    color: #000;
    transition: all 0.25s ease-in-out;
    font-size: 35px;
}

.navbar i:hover {
    color: #36454F;
}

.game-page {
    display: inline-flex;
    margin: 0px 0 0 20%;
}

.game-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
}

.game-screen {
    width: 900px;
    height: 700px;
    border-radius: 1em;
    /* background-image: url('../images/Background.png'); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-screen img {
    width: 900px;
    height: 636px;
    border: 6px double #207052;
    box-shadow: 0 0 5px #000;
    margin-top: 32px;
}

.game-controls {
    width: 300px;
    height: 636px;
    /* background-color: #36454F; */
    text-align: center;
    padding: 20px;
    margin-top: 32px;
}

.game-controls #timer {
    /* color: #fff; */
    color: #000;
    font-size: 30px;
}

.game-controls .instrument-container {
    max-width: 100px;
}

.game-controls .instrument-container img {
    width: 150px;
    height: 200px;
    box-shadow: 0 0 8px #000;
    margin: 0 50px;
    margin-top: 40px;
}