@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Spectral:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Spectral" sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Karla", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #4361ee;
    font-family: 'Karla', sans-serif;
    box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #7209b7;
    
}

h3 {
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: #4361ee;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #7209b7;
}
/* Basic Button Style */

.btn , .btn-play {
    border: 0.16em solid #7209b7;
    border-radius: 1em;
    background-color: #4361ee;
    padding: 14px 28px;
    margin: auto;
    font-size: 16px;
    font-family: 'Karla' , sans-serif;
    color: #fff;
    text-transform:uppercase;
    text-decoration: none;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    display: inline-block;
  }

  /* On mouse-over */
.btn:hover {
    background: #eee;
    color: #36454F;
}

/* play button styles */

.btn-play:hover {
    text-indent: 30px;
    background: #eee;
    color: #36454F;
    opacity: 2;
}

.btn-play {
    transition: all 0.2s linear 0s;
}

 .btn-play:before {
    font-family: FontAwesome;
    content:"\f178";
    opacity: 0;
    transform: scale(1,1);
    text-indent: 0;
    transition: all 200ms ease;
}

.btn-play:hover:before {
        left: 7px;
}

/* Background Image */

#sample-background {
    width: 1200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #4361ee;
}

.navbar i {
    color: white;
    transition: all 0.25s ease-in-out;
    font-size: 20px;
}

.navbar i:hover {
    color: #36454F;
}

.game-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.game-container .game-screen {
    width: 500px;
    height: 500px;
    background-image: url('../images/Background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-controls {
    background-color: #36454F;
    text-align: center;
    padding: 20px;
}

.game-controls #timer {
    color: #fff;
    font-size: 20px;
}

.game-controls .instrument-container {
    max-width: 100px;
}

.game-controls .instrument-container img {
    width: 100%;
}