@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Spectral:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: 'Spectral', sans-serif;
    background-image: linear-gradient(to bottom right, #A8E6Cf, #DBEDC1, #FED3B6, #FFAAA5, #FF8B94);
}

body {
    height: 100vh;
    font-family: 'Spectral', sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Karla", sans-serif;
    padding-bottom: 20px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-family: 'Karla', sans-serif;
    /* box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white; */
}

h2 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    /* color: #7209b7; */
    color: #000;
}

h3 {
    font-size: 24px;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
    /* color: #4361ee; */
    color: #000;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #7209b7;
}

main {
    margin-top: 20px;
}

.hero-container {
    width: 60%;
    height: 500px;
    display: flex;
    margin: 20px 0 0 29%;
}

.hero-image {
    width: 60%;
    height: 110%;
}

/* Basic Button Style */

.btn-wrapper {
    width: 100%;
    margin-top: 150px;
}

.btn, .btn-play {
    width: 260px;
    display: block;
    /* border: 0.16em solid #7209b7; */
    border: 0.16em solid #207052;
    border-radius: 1em;
    /* background-color: #4361ee; */
    background-color: #37BF8C;
    padding: 14px 28px;
    margin: 30px;
    font-size: 30px;
    font-family: 'Karla' , sans-serif;
    color: #fff;
    text-transform:uppercase;
    text-decoration: none;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }

  /* On mouse-over */
.btn:hover {
    background: #eee;
    /* color: #36454F; */
    color: #000;
}

/* Start Game Button */

#start-btn {
    position: relative;
    top: 250px;
    margin: 30px 0;
}


/* Game Modal Buttons */
.game-btn {
    display: inline-block;
}

/* play button styles */

/* .btn-play:hover {
    text-indent: 30px;
    background: #eee;
    color: #36454F;
    opacity: 2;
} */

/* .btn-play {
    transition: all 0.2s linear 0s;
}

 .btn-play:before {
    font-family: FontAwesome;
    content:"\f178";
    opacity: 0;
    transform: scale(1,1);
    text-indent: 0;
    transition: all 200ms ease;
}

.btn-play:hover:before {
        left: 7px;
} */

/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 5px;
}

/* Background Image */

#sample-background {
    width: 1200px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar i {
    color: #000;
    transition: all 0.25s ease-in-out;
    font-size: 35px;
}

.navbar i:hover {
    color: #36454F;
}

.game-page {
    display: inline-flex;
    margin: 0px 0 0 20%;
}

.game-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
}

.game-screen {
    width: 900px;
    height: 700px;
    border-radius: 1em;
    background-image: url('../images/background.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-screen img {
    width: 900px;
    height: 636px;
    border: 6px double #207052;
    box-shadow: 0 0 5px #000;
    margin-top: 32px;
}

.game-controls {
    width: 300px;
    height: 636px;
    /* background-color: #36454F; */
    text-align: center;
    padding: 20px;
    margin-top: 32px;
}

.game-controls #timer {
    /* color: #fff; */
    color: #000;
    font-size: 30px;
}

.game-controls .instrument-container {
    max-width: 100px;
}

.game-controls .instrument-container img {
    width: 150px;
    height: 200px;
    box-shadow: 0 0 8px #000;
    margin: 0 5px;
    margin-top: 40px;
    position: absolute;
}

.invisible {
    visibility: hidden;
}

/* Character Clickable Divs */

.invisible-div {
    height: 100px;
    width: 55px;
    border: 2px solid red;
    display: inline-block;
}

#bongo-click-box {
    position: relative;
    top: 390px;
    left: 100px;
}

#cello-click-box {
    position: relative;
    top: 235px;
    left: 422px;
}

#child-sing-click-box {
    position: relative;
    top: 341px;
    left: 224px;
}

#drum-click-box {
    position: relative;
    top: 175px;
    left: 621px;
}

#flute-click-box {
    position: relative;
    top: 350px;
    left: 330px;
}

#guitar-click-box {
    position: relative;
    top: 100px;
    right: 190px;
}

#piano-click-box {
    position: relative;
    height: 125px;
    width: 70px;
    top: 375px;
    left: 440px;
}

#trombone-click-box {
    position: relative;
    height: 65px;
    width: 100px;
    top: 130px;
    left: 260px;
}

#violin-click-box {
    position: relative;
    top: 255px;
    right: 280px;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background: linear-gradient(45.34deg, #E77281 5.66%, #DCEDC1 94.35%);
}
  
/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
color: #36454F;
margin: 15% auto;
padding: 20px;
border: 3px solid #DCEDC1;
border-radius: 2em;
width: 50%;
text-align: center;
font-size: 14pt;
position: relative;
}
  
  /* The Close Button */
.close {
    color: #E77281;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}
  
.close:hover,
.close:focus {
color: #DCEDC1;
text-decoration: none;
cursor: pointer;
}

.modal .github-link {
    display: block;
    text-align: left;
    color: #36454F;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.modal .github-link i {
    color: #36454F;
    margin-right: 15px;
}

.modal .github-link:hover {
    padding-left: 10px;
}
